*, body {
  font-family: Poppins;
  box-sizing: border-box;
}

body {
  padding: 0 2rem;
  text-align: center;
}

h1 {
  color: #4d58f5;
  font-size: 2.5rem;
  letter-spacing: 0.43;
  margin-bottom: 0.25em;
}

h2 {
  font-weight: 400;
  margin-top: 0.5rem;
  font-family: Caveat;
}

.budget-container {
  display: inline-block;
  height: 4rem;
  font-size: 1.5rem;
  vertical-align: top;
}

.budget-container::before {
  display: inline-block;
  content: '💸';
}

.budget {
  padding: 0.25rem 0.5rem 0.25rem 0.75rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  font-family: Poppins;
  font-weight: 300;
}

.settings {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.settings:hover {
  background: #4d58f5;
}

.settings span:first-child {
  position: absolute;
  top: 0.25rem;
  left: 0.685rem;
  display: block;
  font-size: 2.5rem;
}

.settings span:last-child {
  display: inline-block;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.settings input {
  margin-top: 1rem;
}

.params {
  display: inline-block;
  font-size: 1.75rem;
  vertical-align: top;
  padding-top: 0.75rem;
}

.params span {
  margin-right: 0.5rem;
}

.button {
  display: inline-block;
  vertical-align: top;
  height: 2.5rem;
  width: 2.5rem;
  margin-top: 0.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 2rem;
}

.options label {
  display: block;
}

.options span {
  display: inline-block;
  text-align: left;
  min-width: 8.5rem;
}

/* By Noah Blon https://codepen.io/noahblon/pen/OyajvN */

input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 1rem;
    width: 8.5rem;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem; /* 1 */
    height: 1rem;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #b22cd0;
    border: 2px solid #999; /* 1 */
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw #b22cd0;
    box-sizing: border-box;
}

input[id="seed"]::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 20px;
  border: 3px solid #999;
  border-radius: 0 !important;
  box-sizing: border-box;
  box-shadow: -100vw 0 0 100vw #17a063;
}

input[id="seed"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem; /* 1 */
    height: 1rem;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #17a063;
    border: 2px solid #999; /* 1 */
}


input[id="nEstimators"]::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 20px;
  border: 3px solid #999;
  border-radius: 0 !important;
  box-sizing: border-box;
  box-shadow: -100vw 0 0 100vw #e0720d;
}

input[id="nEstimators"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem; /* 1 */
    height: 1rem;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #e0720d;
    border: 2px solid #999; /* 1 */
}

.seed {
  color: #17a063;
}

.estimator {
  color: #e0720d;
}

.feature {
  color: #b22cd0;
}

::-ms-thumb {
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

input[type="range"]:focus::-ms-thumb {
  border: 2px solid #444;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip {
    display: none;
}

/*
'Burger', 'Burrito', 'Cafe', 'Indian', 'Japanese', 'Korean', 'Pizza', 'Salad', 'Thai', 'Vietnamese', 'Wrap'
 */

ul {
  list-style: none;
  padding: 1.5rem 0 0 0;
  min-height: 12rem;
}

li {
  display: inline-block;
  font-size: 4.5rem;
  margin: 0.5rem 0.25rem;
  min-width: 6rem;
}

.Burger::before {
  display: inline-block;
  content: '🍔';
}

.Burrito::before {
  display: inline-block;
  content: '🌯';
}

.Cafe::before {
  display: inline-block;
  content: '☕';
}

.Indian::before {
  display: inline-block;
  content: '🍛';
}

.Japanese::before {
  display: inline-block;
  content: '🍣';
}

.Korean::before {
  display: inline-block;
  content: '🥟';
}

.Thai::before {
  display: inline-block;
  content: '🍜';
}

.Pizza::before {
  display: inline-block;
  content: '🍕';
}

.Salad::before {
  display: inline-block;
  content: '🥗';
}

.Vietnamese::before {
  display: inline-block;
  content: '🍲';
}

.Wrap::before {
  display: inline-block;
  content: '🥙';
}
